<header class="flex flex-wrap items-center px-6 py-2 bg-white border-b border-black font-anouche lg:px-8 lg:py-0">
 <div class="flex items-center justify-between flex-1">
    <!-- logo -->
    <a href="/" class="flex items-center my-2 mr-8">
      <%= image_tag "anouche-logo.svg", alt: "Anouche Bijoux, création", width: "40", height: "40", class: "content-center" %>
    </a>
    <% if Rails.env == 'staging'%>
      <p class="mt-2 text-sm font-thin leading-snug">(<%= Rails.env %>)</p>
    <% end %>
  </div>
  <label for="menu-toggle" class="block pointer-cursor lg:hidden">
    <svg class="text-gray-900 fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
      <title>menu</title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
  </label>
  <input class="hidden" type="checkbox" id="menu-toggle" />
  <div class="hidden w-full lg:flex lg:items-center lg:w-auto" id="menu">
    <nav>
      <ul class="items-center pt-4 text-base font-light text-black lg:flex lg:pt-0">
        <li>
          <div class="block py-3 mr-8 text-xl transition ease-in-out border-b-2 border-transparent lg:p-4 duration-250">
            <div class="relative" data-controller="dropdown">
              <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
                <span class="hover:font-anoucheHand hover:text-2xl">
                  BIJOUX
                </span>
              </div>
              <div data-dropdown-target="menu" class="absolute hidden mt-2">
                <div class="px-8 overflow-hidden text-base text-black bg-white">
                  <% Category.find_each do |category| %>
                    <%= link_to category.name,  root_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block py-3 hover:font-medium whitespace-nowrap' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a class="block px-0 py-3 mr-8 text-xl transition ease-in-out border-b-2 border-transparent brandHover lg:p-4 duration-250"
             href="#">
            <span class="hover:font-anoucheHand hover:text-2xl">
              CARTE CADEAU
            </span>
          </a>
        </li>
        <li>
          <a class="block px-0 py-3 mr-8 text-xl transition ease-in-out border-b-2 border-transparent brandHover lg:p-4 duration-250"
             href="#">
            <span class="hover:font-anoucheHand hover:text-2xl">
              L'ATELIER
            </span>
          </a>
        </li>
        <li>
          <a class="block px-0 py-3 mr-8 text-xl transition ease-in-out border-b-2 border-transparent brandHover lg:p-4 duration-250"
             href="#">
            <span class="hover:font-anoucheHand hover:text-2xl">
              PLAYLIST
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <a href="/" class="flex items-center px-0 py-2 md:px-4">
      <%= image_tag "anouche-contact.svg", alt: "Anouche création, bijoux fantaisie", width: "40", height: "40", class: "content-center" %>
    </a>
  </div>
</header>
