<div class="container px-4 mx-auto my-8">
  <% if Rails.env == 'staging'%>
    <p class="mt-2 text-sm font-thin leading-snug">(<%= Rails.env %>)</p>
  <% end %>
  <div class="flex justify-center mt-56">
    <%= image_tag("anouche-creation.gif", alt: "Anouche création, bijoux fantaisie", width: 561, height: 235) %>
  </div>
</div>
