@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Spartan variable font */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url('Spartan-VariableFont_wght.woff2') format("woff2");
}



