@import "tailwindcss/base";
@import "tailwindcss/components";
@import './components/base.css';
@import './components/forms.css';
@import './components/notifications.css';
@import './third-parties/cookiebot.css';
@import "tailwindcss/utilities";

/* Our custom hover properties */
.brandHover {
  @apply hover:text-brandActive hover:font-medium;
}

/* Spartan variable font */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url('Spartan-VariableFont_wght.woff2') format("woff2");
}

/* Inspiration handwritten font */
@font-face {
  font-family: 'Inspiration';
  src: url('Inspiration-Regular.ttf');
}

/* LoaftyGoals handwritten font */
@font-face {
  font-family: 'LoftyGoals';
  src: url('LoftyGoals.otf');
}

/* ComforterBrush handwritten font */
@font-face {
  font-family: 'ComforterBrush';
  src: url('ComforterBrush-Regular.woff2');
}
